<!DOCTYPE HTML>
<html lang="pt-br">

<body>
    <h1>Previsão do tempo para
        <%=result.city%>
    </h1>
    <br>
    <% for(var i = 0;i<result.forecast.length;i++){ %>
        <div>
            Data: <%=result.forecast[i].date%>
            Condição: <%=result.forecast[i].main%>
            Temperatura minima: <%=result.forecast[i].min%>
            Temperatura maxima: <%=result.forecast[i].max%>
        </div>
        <br>
        <% } %>
</body>

</html>